#headline {
  background: url('./img/Illustration-header2.png') no-repeat right ;
  background-size: 45% 95%;
}

.h-line {
  border-bottom: 0.5px solid #857f7f;
}

.about-me {
  background: url('./img/illustration-about-me.png') no-repeat right;
  background-size: 40% 50%;
}